*{
    padding: 0px;
    margin: 0px;
    color: rgb(212, 222, 231);
    font-family: wow;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: wow;
    src: url(font/varsity_regular.ttf);
}

/* Header */

.container-1{
    width: 100vw;
    height: 100vh;
}

.start{
    width: 100vw;
    height: 100vh;
    background-image: url(image/buildings-1851246.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0%;
    right: 2%;
}

.menu{
    width: 7vw;
    height: 4vh;
    text-align: center;
    font-family: wow;
    font-size: 18px;
    border: ridge 1px white;
    line-height: 4vh;
    margin-left: 2vw;
}

.menu:hover{
    font-size: 130%;
    transform: 2s;
}

.writing-1, .writing-2{
    width: 20vw;
    height: 20vh;
    font-size: 3rem;
    font-family:sans-serif;
}

.writing-1{
    float: left;
    margin-left: 10vw;
    margin-top: 40vh;
}

.writing-2{
    float: right;
    margin-top: 60vh;
    margin-right: 8vw;
}

.model{
        padding-left: 42vw;
        padding-top:  90vh;
}


/* Main-space */

.space-1, .space-2, .space-3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-1{
    background-color: #252525;
    width: 100vw;
    height: 320vh;
    justify-content: top;
}

.space-2{
    background-color: #383838   ;
}

.space-3{
    background-color: #6A6A6A;
}

h1{
    margin-bottom: 3vh;
    text-align: center;
    font-size: 3rem;
    padding-top: 2vh;
}

/* Dane */



.text-parametry-3{
    width: 55vw;
    height: 28vh;
    margin: auto;
    border-top: 3px groove grey;
    clear: both;
}

.img-2, .img-1{
    margin: 1vw 1vh;
    float: left;
    width: 20vw;
    height: 26vh;
}

.img-1{
    float: left;
}

.img-2{
    float: right;
}

.opis-1-1, .opis-1-2{
    width: 30vw;
    height: 26vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    font-family:sans-serif;
    float: left;
}

.opis-1-1{
    float: right;
}

.opis-1-2{
    float: left;
}

.parametry-1{
    background-color: #383838   ;
    width: 80vw;
    height: 280vh;
}

.nothing{
    background-color: #252525;
    width: 100vw;
    height: 20vh;
    margin-top: 1.8rem;
    margin-bottom: 2em;
}

.porshe-1{
    float: left;
    background-image: url(image/porsche-model.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25vw;
    height: 30vh;
    margin-left: 6vw;
    margin-right: 4vw;
    float: left;
}

.text-parametry-1{
    text-align: center;
    width: 40vw;
    height: 30vh;
    float: left;
    margin-bottom: 4vh;
}

.text-parametry-2{
    margin: auto;
    padding-top: 2vh;;
    text-align: center;
    font-size: 1.8rem;
    clear: both;
    width: 50vw;
    height: 30vh;
    font-family:sans-serif;
    border-top: 2px solid grey;
}

td{
    width: 25vw;
    height: 4.5vh;
    font-family:sans-serif;
}

td:nth-child(1){
    background-color: #252525;
}

/* Galeria */

.galeria-1{
    background-color: #525252 ;
    width: 85vw;
    height: 80vh;
}
.galeria{
    width: 96%;
    height: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.i-1{
    margin-left: 3vw;
}
.galeria > img{
    width: 24vw;
    height: 27vh;
}

.galeria > img:hover{
     position :relative;
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-animation-keyframes mymove{
    from{width: 24vw;
        height: 26vh;}
    to {width: 28vw;
        height: 30vh;}
}

@keyframes mymove{
    from{width: 24vw;
        height: 26vh;}
    to {width: 29vw;
        height: 31vh;}
}

/* Kontakt */

.kontakt-1{
    background-color: #413f3f;
    width: 65vw;
    height: 75vh;
}

.kontakt{
    width: 96%;
    height: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family:sans-serif;
}

* {
    box-sizing: border-box;
}

label{
    font-family:sans-serif;
}

.form {
    margin: auto;
    font-family:sans-serif;
    width:35rem;
}
.form .form-row {
    margin-bottom:1rem;
}

.form input,
.form textarea {
    border-radius:0.2rem;
    font-family:sans-serif;
    padding:0.8rem;
    display: block;
    width:100%;
    color:#666;
}

.form textarea {
    height:8rem;
}


.form .submit-btn {
    font-family: sans-serif;
    padding:1rem 2rem;
    background: rgb(44, 142, 180);
    border:0;
    border-radius:0.2rem;
    color:#fff;
    font-size:1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
}

.form .submit-btn:hover {
    background: rgb(53, 98, 182);
}


/* footer */

footer{
    width: 100vw;
    height: 15vh;
    background-color: #211D1C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
}
